/*Setting Default Settings Here*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Serif', serif;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E4FBFF;
}

a:link {
    text-decoration: none;
    color: #E4FBFF;
}

a:visited {
    text-decoration: none;
    color: #E4FBFF;
}

a:hover {
    text-decoration: none;
    color: #373854;
}

a:active {
    text-decoration: none;
    color: #E4FBFF;
}



h3 {
    color: #E4FBFF;
    font-size: 6rem;
}

p {
    color: #FBFEFA;
    font-size: .75rem;
}